<!-- <div><h1>Библиотека стандартных компонентов</h1><router-outlet></router-outlet></div> -->
<!-- Image and text -->
<nav class="navbar navbar-light bg-light" style="border-bottom: 3px solid rgb(65, 63, 63);">
  <div class="container-fluid">
    <div class="navbar-brand mb-0 h1">
      <div style="float: left;">
      <img src="/assets//img/fus.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
      </div>
    <div  routerLink="/" style="float: left; margin-left: 50px; cursor: pointer;font-size: 23px; text-transform: uppercase; letter-spacing: 1px; bottom:20px; position: absolute;">
      Библиотека стандартных компонентов
    </div>
  </div>
    <a routerLink="/" class="nav-link text-secondary" style="font-size: 18px; letter-spacing: 1px; color: rgb(65, 63, 63);">
      Главная
    </a>
  </div>
</nav>
<router-outlet></router-outlet>